# *Projet d'apprendre le déploiement avec FastAPI+Streamlit+scikit-learn*

## *Modélisation avec Scikit-learn*

### Importation des library

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split

Importation de donnée

In [14]:
data = pd.read_csv('../data/Social_Network_Ads.csv')
print('\nLes 5 premières lignes du dataset :')
print(data.head())
print('\n---La dimension du dataset :')
print(data.shape)
print('\n---Les types de données :')
print(data.dtypes)
print("----L'information sur les données : ")
print(data.info())
print('---Les colonnes du dataset :')
print(data.columns.tolist())

Les 5 premières lignes du dataset :
    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

---La dimension du dataset :
(400, 5)

---Les types de données :
User ID            int64
Gender               str
Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object
----L'information sur les données :
<class 'pandas.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    str
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), str(1)
memory usage: 15.8 KB
None
---Les colonnes du dataset :
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

In [15]:
print('\n---Statistiques descriptives :')
data.describe()

---Statistiques descriptives :

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

Néttoyage de donnée

In [16]:
data.drop('User ID', axis=1, inplace=True)

In [17]:
data.replace({'Male': 0, 'Female': 1}, inplace=True)
data.head()

  Gender  Age  EstimatedSalary  Purchased
0      0   19            19000          0
1      0   35            20000          0
2      1   26            43000          0
3      1   27            57000          0
4      0   19            76000          0

In [18]:
X = data.drop('Purchased', axis=1)
y = data['Purchased']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.pipeline import make_pipeline
model = make_pipeline(StandardScaler(), LogisticRegression())
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [21]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[50  2]
 [ 7 21]]
              precision    recall  f1-score   support

           0       0.88      0.96      0.92        52
           1       0.91      0.75      0.82        28

    accuracy                           0.89        80
   macro avg       0.90      0.86      0.87        80
weighted avg       0.89      0.89      0.88        80

In [26]:
import joblib
joblib.dump(model, '../app/models/model.joblib')

['../app/models/model.joblib']